<div class="row">
  <%= form_for @topic do |f| %>
    <div class="form-group">
      <div class="col-md-8"><%= f.text_field :title, class: 'form-control field-small', placeholder: "Enter topic" %></div>
      <span>
        <%= f.submit "Save", class: 'btn btn-success'%>
      </span>
    </div>
  <% end %>
</div>
