<div class="jumbotron">  
  <h3 class="media-heading">Social Bookmarking With Email Integration</h3>
  <p class="media-body">Created by: Noel Deguzman</p>
  <br>
  <p class="media-body">Build a production quality social bookmarking app that allows users to email, manage and share bookmarked URLs.</p>
</div>